<a href="https://colab.research.google.com/github/ppijbb/Python_Notebook/blob/main/kaggle_wine_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [ ]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [ ]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [ ]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [ ]:
wine_reviews = pd.read_csv("./winemag-data-130k-v2.csv")

In [ ]:
wine_reviews.shape

(36169, 14)

In [ ]:
wine_reviews.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

In [ ]:
wine_reviews2 = pd.read_csv("./winemag-data-130k-v2.csv", index_col=0)
wine_reviews2.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

In [ ]:
wine_reviews.points.describe()

count    36169.000000
mean        88.397274
std          3.002518
min         80.000000
25%         86.000000
50%         88.000000
75%         91.000000
max        100.000000
Name: points, dtype: float64

In [ ]:
wine_reviews.taster_name.describe()

count          28743
unique            19
top       Roger Voss
freq            7175
Name: taster_name, dtype: object

In [ ]:
wine_reviews.points.mean()

88.39727390859576

In [ ]:
wine_reviews.taster_name.value_counts()

Roger Voss            7175
Michael Schachner     4360
Kerin O’Keefe         2948
Virginie Boone        2681
Paul Gregutt          2636
Matt Kettmann         1695
Joe Czerwinski        1405
Sean P. Sullivan      1263
Anna Lee C. Iijima    1231
Jim Gordon            1115
Anne Krebiehl MW       993
Lauren Buzzeo          544
Susan Kostrzewa        331
Mike DeSimone          116
Jeff Jenssen           110
Alexander Peartree     100
Carrie Dykes            28
Fiona Adams             11
Christina Pickard        1
Name: taster_name, dtype: int64

In [ ]:
wine_reviews_points_means=wine_reviews.points.mean()

In [ ]:
wine_reviews.points.map(lambda p: p - wine_reviews_points_means)

0       -1.397274
1       -1.397274
2       -1.397274
3       -1.397274
4       -1.397274
           ...
36164    3.602726
36165   -0.397274
36166   -0.397274
36167   -0.397274
36168   -0.397274
Name: points, Length: 36169, dtype: float64

In [ ]:
def remean_points(row):
    row.points = row.points - wine_reviews_points_means
    return row

wine_reviews.apply(remean_points, axis='columns')

       Unnamed: 0   country  ...         variety                    winery
0               0     Italy  ...     White Blend                   Nicosia
1               1  Portugal  ...  Portuguese Red       Quinta dos Avidagos
2               2        US  ...      Pinot Gris                 Rainstorm
3               3        US  ...        Riesling                St. Julian
4               4        US  ...      Pinot Noir              Sweet Cheeks
...           ...       ...  ...             ...                       ...
36164       36164   Austria  ...   Blaufränkisch                    Jalits
36165       36165        US  ...       Zinfandel  Mettler Family Vineyards
36166       36166        US  ...      Chardonnay       Michel-Schlumberger
36167       36167     Italy  ...    Nero d'Avola                  Morgante
36168       36168    Greece  ...             NaN                       NaN

[36169 rows x 14 columns]

In [ ]:
wine_reviews.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

In [ ]:
wine_reviews_points_mean = wine_reviews.points.mean()
wine_reviews.points - wine_reviews_points_mean

0       -1.397274
1       -1.397274
2       -1.397274
3       -1.397274
4       -1.397274
           ...
36164    3.602726
36165   -0.397274
36166   -0.397274
36167   -0.397274
36168   -0.397274
Name: points, Length: 36169, dtype: float64

In [ ]:
wine_reviews.country + " - " + wine_reviews.region_1

0                    Italy - Etna
1                             NaN
2          US - Willamette Valley
3        US - Lake Michigan Shore
4          US - Willamette Valley
                   ...
36164                         NaN
36165                   US - Lodi
36166       US - Dry Creek Valley
36167             Italy - Sicilia
36168                         NaN
Length: 36169, dtype: object

In [ ]:
wine_reviews.groupby('points').points.count()

points
80       81
81      177
82      530
83      741
84     1897
85     2794
86     3627
87     5010
88     4583
89     3165
90     4315
91     3143
92     2814
93     1667
94     1104
95      329
96      124
97       46
98       17
99        3
100       2
Name: points, dtype: int64

In [ ]:
wine_reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
12 Linajes                   12 Linajes 2009 Reserva  (Ribera del Duero)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 10808, dtype: object

In [ ]:
wine_reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                            Unnamed: 0  ...          winery
country   province                      ...
Argentina Mendoza Province        8869  ...    Pascual Toso
          Other                   4633  ...       El Esteco
Armenia   Armenia                 8170  ...        Van Ardi
Australia Australia Other        12257  ...        Penfolds
          New South Wales        24582  ...   Three Bridges
...                                ...  ...             ...
Uruguay   Juanico                 9133  ...  Familia Deicas
          Montevideo             15750  ...           Bouza
          Progreso               25177  ...          Pisano
          San Jose               12670  ...  Castillo Viejo
          Uruguay                 6005  ...         Narbona

[349 rows x 14 columns]

In [ ]:
wine_reviews.groupby(['country']).price.agg([len, min, max])

                            len   min     max
country
Argentina                1097.0   4.0   215.0
Armenia                     1.0  14.0    14.0
Australia                 632.0   7.0   350.0
Austria                   953.0   7.0   150.0
Bosnia and Herzegovina      1.0  13.0    13.0
Brazil                     22.0  10.0    45.0
Bulgaria                   40.0   8.0    40.0
Canada                     71.0  12.0   120.0
Chile                    1290.0   5.0   200.0
Croatia                    28.0  13.0    65.0
Cyprus                      4.0  15.0    17.0
Czech Republic              5.0  15.0    45.0
England                    12.0  40.0    80.0
France                   6077.0   5.0  2500.0
Georgia                    20.0   9.0    40.0
Germany                   610.0   6.0   775.0
Greece                    134.0   9.0    79.0
Hungary                    28.0  11.0   320.0
India                       2.0  12.0    20.0
Israel                    147.0   8.0    80.0
Italy                    5531.0   5.0   540.0
Lebanon                     9.0  19.0    75.0
Luxembourg                  1.0  16.0    16.0
Macedonia                   1.0  15.0    15.0
Mexico                     20.0   8.0    58.0
Moldova                    13.0   9.0    38.0
Morocco                     4.0  18.0    30.0
New Zealand               428.0   9.0   120.0
Peru                        5.0  10.0    17.0
Portugal                 1645.0   5.0   300.0
Romania                    34.0   7.0    28.0
Serbia                      3.0  16.0    40.0
Slovakia                    1.0  16.0    16.0
Slovenia                   13.0   7.0    39.0
South Africa              420.0   8.0   330.0
Spain                    1867.0   4.0   770.0
Switzerland                 3.0  30.0   160.0
Turkey                     20.0  15.0    39.0
US                      14926.0   4.0   625.0
Ukraine                     1.0  10.0    10.0
Uruguay                    34.0  10.0    65.0

In [ ]:
countries_reviewed = wine_reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                            len
country   province
Argentina Mendoza Province  946
          Other             151
Armenia   Armenia             1
Australia Australia Other    72
          New South Wales    15
...                         ...
Uruguay   Juanico             4
          Montevideo          8
          Progreso            2
          San Jose            2
          Uruguay             4

[349 rows x 1 columns]

In [ ]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [ ]:
countries_reviewed.reset_index()

       country          province  len
0    Argentina  Mendoza Province  946
1    Argentina             Other  151
2      Armenia           Armenia    1
3    Australia   Australia Other   72
4    Australia   New South Wales   15
..         ...               ...  ...
344    Uruguay           Juanico    4
345    Uruguay        Montevideo    8
346    Uruguay          Progreso    2
347    Uruguay          San Jose    2
348    Uruguay           Uruguay    4

[349 rows x 3 columns]

In [ ]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

      country     province    len
266  Slovenia    Štajerska      1
258    Serbia     Pocerina      1
259    Serbia         Župa      1
116   Germany  Mittelrhein      1
260  Slovakia        Muzla      1
..        ...          ...    ...
334        US       Oregon   1462
183     Italy      Tuscany   1614
101    France     Bordeaux   1726
339        US   Washington   2341
318        US   California  10006

[349 rows x 3 columns]

In [ ]:
countries_reviewed.sort_values(by='len', ascending=False)

          country       province    len
318            US     California  10006
339            US     Washington   2341
101        France       Bordeaux   1726
183         Italy        Tuscany   1614
334            US         Oregon   1462
..            ...            ...    ...
268  South Africa    Breedekloof      1
266      Slovenia      Štajerska      1
188     Macedonia         Tikves      1
264      Slovenia       Slovenia      1
241      Portugal  Terras do Dão      1

[349 rows x 3 columns]

In [ ]:
countries_reviewed.sort_index()

       country          province  len
0    Argentina  Mendoza Province  946
1    Argentina             Other  151
2      Armenia           Armenia    1
3    Australia   Australia Other   72
4    Australia   New South Wales   15
..         ...               ...  ...
344    Uruguay           Juanico    4
345    Uruguay        Montevideo    8
346    Uruguay          Progreso    2
347    Uruguay          San Jose    2
348    Uruguay           Uruguay    4

[349 rows x 3 columns]

In [ ]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province  len
1    Argentina             Other  151
0    Argentina  Mendoza Province  946
2      Armenia           Armenia    1
4    Australia   New South Wales   15
6    Australia          Tasmania   16
..         ...               ...  ...
347    Uruguay          San Jose    2
344    Uruguay           Juanico    4
348    Uruguay           Uruguay    4
345    Uruguay        Montevideo    8
343    Uruguay         Canelones   12

[349 rows x 3 columns]

In [ ]:
wine_reviews[pd.isnull(wine_reviews.country)]

       Unnamed: 0 country  ...          variety                           winery
913           913     NaN  ...          Chinuri               Gotsa Family Wines
3131         3131     NaN  ...        Red Blend                Barton & Guestier
4243         4243     NaN  ...         Ojaleshi  Kakhetia Traditional Winemaking
9509         9509     NaN  ...      White Blend                         Tsililis
9750         9750     NaN  ...       Chardonnay                         Ross-idi
11150       11150     NaN  ...           Melnik                          Orbelus
11348       11348     NaN  ...      White Blend                Barton & Guestier
14030       14030     NaN  ...      White Blend                        St. Donat
16000       16000     NaN  ...           Tannat                   Familia Deicas
16749       16749     NaN  ...  Sauvignon Blanc                   Bartho Eksteen
18075       18075     NaN  ...        Assyrtiko                         Tsililis
26485       26485     NaN  ...           Shiraz                     Stone Castle
26486       26486     NaN  ...       Tsolikouri                   Teliani Valley
26489       26489     NaN  ...  Sauvignon Blanc                        Undurraga
27822       27822     NaN  ...       Pinot Gris                    Mt. Beautiful
36112       36112     NaN  ...        Red Blend                          Orbelus

[16 rows x 14 columns]

In [ ]:
wine_reviews.region_2.fillna("Unknown")

0                  Unknown
1                  Unknown
2        Willamette Valley
3                  Unknown
4        Willamette Valley
               ...
36164              Unknown
36165       Central Valley
36166               Sonoma
36167              Unknown
36168              Unknown
Name: region_2, Length: 36169, dtype: object

In [ ]:
wine_reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

0                 @kerino
1              @vossroger
2             @paulgwine
3                     NaN
4             @paulgwine
               ...
36164         @AnneInVino
36165    @gordone_cellars
36166             @vboone
36167             @kerino
36168       @suskostrzewa
Name: taster_twitter_handle, Length: 36169, dtype: object

In [ ]:
wine_reviews.rename(columns={'points': 'score'})

       Unnamed: 0   country  ...         variety                    winery
0               0     Italy  ...     White Blend                   Nicosia
1               1  Portugal  ...  Portuguese Red       Quinta dos Avidagos
2               2        US  ...      Pinot Gris                 Rainstorm
3               3        US  ...        Riesling                St. Julian
4               4        US  ...      Pinot Noir              Sweet Cheeks
...           ...       ...  ...             ...                       ...
36164       36164   Austria  ...   Blaufränkisch                    Jalits
36165       36165        US  ...       Zinfandel  Mettler Family Vineyards
36166       36166        US  ...      Chardonnay       Michel-Schlumberger
36167       36167     Italy  ...    Nero d'Avola                  Morgante
36168       36168    Greece  ...             NaN                       NaN

[36169 rows x 14 columns]

In [ ]:
wine_reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

             Unnamed: 0   country  ...         variety                    winery
firstEntry            0     Italy  ...     White Blend                   Nicosia
secondEntry           1  Portugal  ...  Portuguese Red       Quinta dos Avidagos
2                     2        US  ...      Pinot Gris                 Rainstorm
3                     3        US  ...        Riesling                St. Julian
4                     4        US  ...      Pinot Noir              Sweet Cheeks
...                 ...       ...  ...             ...                       ...
36164             36164   Austria  ...   Blaufränkisch                    Jalits
36165             36165        US  ...       Zinfandel  Mettler Family Vineyards
36166             36166        US  ...      Chardonnay       Michel-Schlumberger
36167             36167     Italy  ...    Nero d'Avola                  Morgante
36168             36168    Greece  ...             NaN                       NaN

[36169 rows x 14 columns]

In [ ]:
wine_reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

fields  Unnamed: 0   country  ...         variety                    winery
wines                         ...
0                0     Italy  ...     White Blend                   Nicosia
1                1  Portugal  ...  Portuguese Red       Quinta dos Avidagos
2                2        US  ...      Pinot Gris                 Rainstorm
3                3        US  ...        Riesling                St. Julian
4                4        US  ...      Pinot Noir              Sweet Cheeks
...            ...       ...  ...             ...                       ...
36164        36164   Austria  ...   Blaufränkisch                    Jalits
36165        36165        US  ...       Zinfandel  Mettler Family Vineyards
36166        36166        US  ...      Chardonnay       Michel-Schlumberger
36167        36167     Italy  ...    Nero d'Avola                  Morgante
36168        36168    Greece  ...             NaN                       NaN

[36169 rows x 14 columns]